<h1>New Quote</h1>

<%= bootstrap_form_with(scope: :quote, url: quotes_path, local: true) do |f| %>
  <%= f.text_area :content %>
  <%= f.primary "Save" %>
<% end %>

<%= button_to "Return", quotes_path, class: "btn btn-secondary", method: :get %>
