/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 /*Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";



@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body {
  background: #fffdf5;
}

#fancy-quote {
  height: 100%;
  margin: 10px;
  padding: 50px;        //v2
  font-family: 'Special Elite', cursive;
  //background: #fffdf5;
  color: #3f3f5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fancy-quote blockquote {
  font-weight: 100;
  font-size: 2rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: .5rem;
}

#fancy-quote blockquote:before,
#fancy-quote blockquote:after {
  position: absolute;
  color: #f1efe6;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

#fancy-quote blockquote:before {
  content: '“';
  left: -5rem;
  top: -2rem;
}

#fancy-quote blockquote:after {
  content: '”';
  right: -5rem;
  bottom: 1rem;
}

#fancy-quote cite {
  line-height: 3;
  text-align: left;
}




// hover options for index action
.effect{
  //background: white;      // v2
}
.effect:hover{
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}
a:hover{
  text-decoration: none;
  text-underline: none;
}



@media screen and (max-width: 1000px) {
  body{
    //background-color: white;
  }


}